.all-songs-container {
  margin-top: 16px; /* rhythm(1) */
  margin-bottom: 32px; /* rhythm(2) */
}

.no-songs-available {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  padding: 32px; /* rhythm(2) */
}
