/* global.css */

body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1C1D21;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: 	#DE3163;
  --hr: hsla(0, 0%, 100%, 0.2);
}